<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jihad.contohfinalprojectkuis">

    <application
        android:allowBackup="true"
        android:icon="@drawable/kuis"
        android:label="Kuis Sederhana"
        android:roundIcon="@drawable/kuis"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KuisPilihanGanda" />
        <activity android:name=".KuisEssay" />
        <activity android:name=".HasilSkoring" />
        <activity android:name=".SplashScreenActivity"></activity>
    </application>

</manifest>